@mixin subgrid-inherit-cols {
  display: grid;
  grid-column: var(--subgrid-col-start) / -1;
  grid-template-columns: subgrid;
}

.table-header,
.data-row,
[data-album-group],
[data-album-group] .rows {
  @include subgrid-inherit-cols;
}


.data-table {
  --subgrid-col-start: 1;

  display: grid;
  column-gap: var(--space-1);

  @media screen and (width >= 1024px) {
    column-gap: var(--space-2);
  }

  .table-header {
    --subgrid-col-start: 2;

    position: sticky;
    z-index: 10;
    top: 0;
    height: min-content;
    font-size: 110%;

    [data-title] {
      font-weight: 700;
    }
  }

  .data-row {
    --subgrid-col-start: 1;

    column-gap: 1px;
    font-size: 95%;

    .cell {
      padding: var(--space-1) var(--space-1);
      background-color: var(--theme-bg);
    }

    &:nth-child(even) .cell {
      background-color: color-mix(in srgb, var(--theme-bg) 90%, transparent 10%);
    }
  }

  &:not([data-grouped]) {
    [data-when-grouped] { display: none; }
    .table-header { --subgrid-col-start: 1; }
  }

}

[data-album-group] {
  --spacing: var(--space-3);

  margin-top: var(--space-3);
  column-gap: var(--spacing);

  &:first-child {
    margin-top: calc(var(--spacing) / 2);
  }

  .rows {
    --subgrid-col-start: 2;

    height: min-content;
    background-color: color-mix(in srgb, var(--theme-fg), transparent 70%);
    grid-auto-rows: min-content;
    line-height: initial;

    .data-row {
      column-gap: 1px;
    }
  }

  .info {
    width: 100%;
    min-width: 120px;
    max-width: 300px;
    padding-bottom: var(--spacing);
    grid-column: 1;
  }

  .artwork {
    height: auto;
    border: var(--pico-color-gray-400);
    border-radius: var(--pico-border-radius);
    margin-bottom: var(--spacing);
    object-fit: cover;
  }

  .credits {
    width: 105%;
    font-weight: 300;

    [data-title] {
      font-size: 120%;
      font-weight: 600;
    }
  }
}
