@import "tailwindcss";
@plugin "@tailwindcss/typography";

@tailwind utilities;

@theme {
  --color-light: theme("colors.blue.50");
  --color-light-alt: theme("colors.blue.100");
  --color-light-accent: theme("colors.blue.200");

  --color-dark: theme("colors.gray.900");
  --color-dark-alt: theme("colors.gray.800");
  --color-dark-accent: theme("colors.blue.900");
}

@utility primary {
  @apply bg-primary text-primary;
  @apply border-dark dark:border-light;

  svg & {
    @apply fill-light stroke-dark dark:fill-dark dark:stroke-light;
  }

  @variant data-[selected='true'] {
    @apply bg-alt border text-dark-accent border-dark-accent dark:border-light-accent dark:text-light-accent;
  }
}

@utility bg-primary {
  @apply bg-light dark:bg-dark;
}

@utility text-primary {
  @apply text-dark dark:text-light;
}

@utility fill-primary {
  @apply fill-dark dark:fill-light;
}

@utility stroke-primary {
  @apply stroke-dark dark:stroke-light;
}

@utility bg-alt {
  @apply bg-light-alt dark:bg-dark-alt;
}

@utility text-alt {
  @apply text-dark-alt dark:text-light-alt;
}

@utility bg-invert {
  @apply bg-dark dark:bg-light;
}

@utility text-invert {
  @apply text-light dark:text-dark;
}

body {
  @apply bg-primary text-primary;

  font-family: Inter, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--fg);
  font-size: 15px;
}

#root {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
  h1 { max-width: none; }

  p { max-width: none; }
}
